.hero-container {
  background: var(--primary);
  border-radius: var(--radius);
  overflow: hidden;
  position: relative;
}

.hero {
  background: var(--primary) url('../images/landing-page/helping-up.jpg') no-repeat center;
  background-size: cover;
  height: 300px;
  position: relative; 

  @include mq('tablet-wide') {
    height: 600px;
    border-radius: var(--radius);
    border-bottom: 60px solid var(--primary);
  }



  blockquote {
    padding: 12px 24px;
    border-top: 1px solid rgba(255,255,255,.5);
    border-bottom: 1px solid rgba(255,255,255,.5);
    position: absolute;
    top: 20%;
    left: 80px;
    max-width: 320px;

    p {
      color: var(--white);
      font-family: var(--font-serif);
      @include rem-size(20px);
      letter-spacing: 1px;
      margin-bottom: 0;
      text-align: center;
    }

    svg {
      fill: var(--white);
      width: 44px;
      height: 34px;
      position: absolute;
      left: -40px;
      top: -14px;
    }
  }
}


.mission {
  background: var(--white);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  text-align: center;
  margin: 12px;
  padding: 32px;

  p {
    @include rem-size(24px);
  }

  @include mq('tablet-wide') {
    position: absolute;
    bottom: 30px;
    right: 30px;
    margin: 0;
    max-width: 630px;

    p {
      @include rem-size(28px);
    }
  }
}




.more-info {
  margin: 100px auto;
  max-width: 550px;
  background: var(--white);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 32px;
}