header.site-masthead.container
  .content
    .site-logo
      a(href="/")
        img(src="./assets/images/logos/logo.svg")
      
    nav.main-nav
      ul.list-unstyled
        li
          a(href="https://quickclick.com/r/bn09n") Donate
        li
          a(href="event.html") Events