extends ../layouts/layout.pug

block content
  section.container
    .content

      .text-center
        p
          a(href="/") Back to Home Page
        img(src="./assets/images/landing-page/event.jpg")
        p
          a(href="/") Back to Home Page