extends ../layouts/layout.pug

block content
  section.container
    .content

      .hero-container
        .hero
          blockquote
            +svg('#icon-quote')
            p Yard by yard, life is hard.
            p Inch by inch, life’s a cinch.

        .mission
          h2.subheader Our Mission
          p iiNCHES seeks to provide people at all stages of life with career guidance and financial literacy mentoring.
          .button-group.align-center
            a(href="https://www.zeffy.com/fundraising/0f6814a0-5849-4401-82c6-1482e76b4ef2").button Donate
            a(href="event.html").button.secondary Events


      .more-info
        .text-center.mb-24
          h2.subheader Request Information

        script(src="https://www.cognitoforms.com/f/seamless.js" data-key="VUgq0mv1r0qOjmt6PWLJcA" data-form="1")
