include ../partials/mixins.pug

doctype html
html(lang='en-US', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')

    meta(name="robots", content="NOINDEX, NOFOLLOW")

    title iiNCHES | Foundation for Daily Progress

    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='application-name', content='iiNCHES')
    meta(name='msapplication-tooltip', content='iiNCHES')
    meta(name='msapplication-config', content='./ieconfig.xml')

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap' rel='stylesheet')

    link(href='./assets/css/style.css', rel='stylesheet', media='screen')

    link(rel='shortcut icon', href='./favicon.ico')
    link(rel='apple-touch-icon-precomposed', href='./assets/images/app-icons/apple-touch-icon.png')

  body#top

    div(style="display: none")
      include ../../../build/assets/svg/svg-sprite.svg
    
    include ../partials/header.pug

    main
      block content

    include ../partials/footer.pug
    
    // Alpine (just for my interactions)
    script(src='//cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js' defer='')
    
    // Custom JS
    script(src='./assets/js/app.js')